.languageText {
    font-size: 17px;
    position: absolute;
    margin-top: -19%;
    margin-left: 2.5%;
}

.languageSelect {
    right: 20%;
    position: absolute;
    margin-top: -18%;
}

#languageOptions {
    border-radius: 15%;
    margin-left: 30%;
    margin-top: -10%;
    height: 51px;
    width: 108px;
    border-color: black;
}
