.transLanguageText {
    position: absolute;
    font-size: 17px;
    margin-left: 2.5%;
    margin-top: 2%;
}

.targetLanguageSelect {
    right: 29%;
    position: absolute;
}

#targetlanguageoptions {
    border-radius: 15%;
    margin-left: 57.5%;
    height: 51px;
    width: 108px;
    border-color: black;
}
