/*For most Desktops and Laptops */
* {
  box-sizing: border-box;
}

.transLanguageText {
    position: static;
    font-size: .96rem;
    margin-top: 3.6%;
}

.targetLanguageSelect {
    margin-left: 13.5vw;
    margin-top: -4.5%;
}

#targetlanguageoptions {
    border-radius: 15%;
    height: 4em;
    width: 79%;
    border-color: black;
}

/* For 3840 X 2160 because menu is a little wonky */
@media screen and (width: 3840px) and (height: 2160px) {
  * {
    box-sizing: border-box;
  }

  .transLanguageText {
      position: static;
      font-size: 1.2rem;
      margin-top: 2%;
  }

  .targetLanguageSelect {
      margin-left: 13.5vw;
      margin-top: -2%;
  }

  #targetlanguageoptions {
      border-radius: 15%;
      height: 4em;
      width: 79%;
      border-color: black;
  }
}



/* For IPhone X */
@media screen and (width: 375px) and (height: 812px) {
  * {
    box-sizing: border-box;
  }

  .transLanguageText {
      position: static;
      font-size: .8rem;
      margin-top: 75px;
      padding-bottom: 70px;
  }

  .targetLanguageSelect {
      margin-top: -65px;
      margin-left: 6px;
      position: absolute;
  }

  #targetlanguageoptions {
    border-radius: 15%;
    height: 4em;
    width: 70px;
    border-color: black;
  }
}

/*For IPhone 6, 7, 8 Plus*/
@media screen and (width: 414px) and (height: 736px) {
  * {
    box-sizing: border-box;
  }

  .transLanguageText {
      position: static;
      font-size: .8rem;
      margin-top: 75px;
      padding-bottom: 70px;
  }

  .targetLanguageSelect {
      margin-top: -65px;
      margin-left: 10px;
      position: absolute;
  }

  #targetlanguageoptions {
    border-radius: 15%;
    height: 4em;
    width: 70px;
    border-color: black;
  }
}

/*For IPhone 6, 7, 8*/
@media screen and (width: 375px) and (height: 667px) {
  * {
    box-sizing: border-box;
  }

  .transLanguageText {
      position: static;
      font-size: .8rem;
      margin-top: 75px;
      padding-bottom: 70px;
  }

  .targetLanguageSelect {
      margin-top: -65px;
      margin-left: 6px;
      position: absolute;
  }

  #targetlanguageoptions {
    border-radius: 15%;
    height: 4em;
    width: 70px;
    border-color: black;
  }
}

/*For IPhone 5/SE*/
@media screen and (width: 320px) and (height: 568px) {
  * {
    box-sizing: border-box;
  }

  .transLanguageText {
      position: static;
      font-size: .7rem;
      margin-top: 75px;
  }

  .targetLanguageSelect {
      margin-top: 7px;
      margin-left: 3px;
      position: absolute;
  }

  #targetlanguageoptions {
    border-radius: 15%;
    height: 4em;
    width: 65px;
    border-color: black;
  }
}

/*For Pixel 2 XL*/
@media screen and (width: 411px) and (height: 823px) {
  * {
    box-sizing: border-box;
  }

  .transLanguageText {
      position: static;
      font-size: .7rem;
      margin-top: 75px;
  }

  .targetLanguageSelect {
      margin-top: 8px;
      margin-left: 12px;
      position: absolute;
  }

  #targetlanguageoptions {
    border-radius: 15%;
    height: 4em;
    width: 65px;
    border-color: black;
  }
}

/*For Pixel 2*/
@media screen and (width: 411px) and (height: 731px) {
  * {
    box-sizing: border-box;
  }

  .transLanguageText {
      position: static;
      font-size: .7rem;
      margin-top: 75px;
      padding-bottom: 70px;
  }

  .targetLanguageSelect {
      margin-top: -65px;
      margin-left: 12px;
      position: absolute;
  }

  #targetlanguageoptions {
    border-radius: 15%;
    height: 4em;
    width: 65px;
    border-color: black;
  }
}

/*For IPhone X Rotations*/
@media screen and (width: 812px) and (height: 375px) {
  * {
    box-sizing: border-box;
  }

  .transLanguageText {
      position: static;
      font-size: .7rem;
      margin-top: 4%;
      padding-bottom: 40%;
  }

  .targetLanguageSelect {
      margin-left: 12.2vw;
      margin-top: -47%;
  }

  #targetlanguageoptions {
      border-radius: 15%;
      height: 4em;
      width: 83%;
      border-color: black;
  }
}

/*For IPhone 6/7/8 Plus Rotations*/
@media screen and (width: 736px) and (height: 414px) {
  * {
    box-sizing: border-box;
  }

  .transLanguageText {
      position: static;
      font-size: .6rem;
      margin-top: 4%;
      padding-bottom: 40%;
  }

  .targetLanguageSelect {
      margin-left: 12.2vw;
      margin-top: -47%;
  }

  #targetlanguageoptions {
      border-radius: 15%;
      height: 4em;
      width: 83%;
      border-color: black;
  }
}

/*For IPhone 6/7/8 Rotations*/
@media screen and (width: 667px) and (height: 375px) {
  * {
    box-sizing: border-box;
  }

  .transLanguageText {
      position: static;
      font-size: .55rem;
      margin-top: 4%;
      padding-bottom: 40%;
  }

  .targetLanguageSelect {
      margin-left: 12.2vw;
      margin-top: -47%;
  }

  #targetlanguageoptions {
      border-radius: 15%;
      height: 4em;
      width: 83%;
      border-color: black;
  }
}

/*For IPhone 5/SE*/
@media screen and (width: 568px) and (height: 320px) {
  * {
    box-sizing: border-box;
  }

  .transLanguageText {
      position: static;
      font-size: .48rem;
      margin-top: 4%;
      padding-bottom: 40%;
  }

  .targetLanguageSelect {
      margin-left: 12.2vw;
      margin-top: -47%;
  }

  #targetlanguageoptions {
      border-radius: 15%;
      height: 4em;
      width: 83%;
      border-color: black;
  }
}

/*For Pixel 2 XL rotations */
@media screen and (width: 823px) and (height: 411px) {
  * {
    box-sizing: border-box;
  }

  .transLanguageText {
      position: static;
      font-size: .6rem;
      margin-top: 4%;
      padding-bottom: 40%;
  }

  .targetLanguageSelect {
      margin-left: 12.2vw;
      margin-top: -45%;
  }

  #targetlanguageoptions {
      border-radius: 15%;
      height: 4em;
      width: 83%;
      border-color: black;
  }
}

/*For Pixel 2 rotations*/
@media screen and (width: 731px) and (height: 411px) {
  * {
    box-sizing: border-box;
  }

  .transLanguageText {
      position: static;
      font-size: .6rem;
      margin-top: 4%;
      padding-bottom: 40%;
  }

  .targetLanguageSelect {
      margin-left: 12.2vw;
      margin-top: -45%;
  }

  #targetlanguageoptions {
      border-radius: 15%;
      height: 4em;
      width: 83%;
      border-color: black;
  }
}
/*For IPad*/
/* @media screen and (width: 768px) and (height: 1024px) {
  * {
    box-sizing: border-box;
  }

  .transLanguageText {
      font-size: .95rem;
      position: static;
      margin-top: 46%;
      padding-bottom: 70px;
  }

  .targetLanguageSelect {
      margin-top: -34%;
      margin-left: 40px;
      position: absolute;
  }

  #targetlanguageoptions {
    border-radius: 15%;
    height: 4em;
    width: 90px;
    border-color: black;
  }
} */

/*For IPad Pro*/
/* @media screen and (width: 1024px) and (height: 1366px) {
  * {
    box-sizing: border-box;
  }

  .transLanguageText {
      font-size: .95rem;
      position: static;
      margin-top: 35%;
      padding-bottom: 70px;
  }

  .targetLanguageSelect {
      margin-top: -25%;
      margin-left: 50px;
      position: absolute;
  }

  #targetlanguageoptions {
    border-radius: 15%;
    height: 4em;
    width: 120px;
    border-color: black;
  }
} */
