# https://git-scm.com/docs/gitattributes
# This file configures how git behaves for this repository

# *         : For all files tracked by git:
# text=auto : Have git guess if it is a text file, if it is
# eol=lf    : Ensure it has Unix line endings when checked out
# If need, add overrides below this line (e.g. *.bat text eol=crlf)
* text=auto eol=lf
