# https://docs.npmjs.com/cli/v9/configuring-npm/npmrc

# Ensure NPM saves the exact package version in package.json when adding dependencies
# This ensures the exact same dependencies are always installed
# A mechanism for automatic dependencies updates should be used (e.g. dependabot)
save-exact=true
