/* All code in this document is taken from
https://www.w3schools.com/howto/howto_css_switch.asp and modified slightly */

/* The switch - the box around the slider */
.switch {
     position: absolute;
     right: 0;
     display: inline-block;
     height: 8vh;
     width: 14vh;
}

/* Hide default HTML checkbox */
.switch input {
     opacity: 0;
     height: 0;
     width: 0;
}

.slider {
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     border-radius: 6vh;
     background-color: #ccc;
     cursor: pointer;
     -webkit-transition: .2s;
     transition: .2s;
}

.slider:before {
     position: absolute;
     content: "";
     height: 6vh;
     width: 6vh;
     bottom: 1vh;
     left: 1vh;
     border-radius: 50%;
     background-color: white;
     -webkit-transition: .2s;
     transition: .2s;
}

input:checked + .slider {
     background-color: green;
}

input:focus + .slider {
     box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
     -webkit-transform: translateX(6vh);
     -ms-transform: translateX(6vh);
     transform: translateX(6vh);
}
