.enter {
  background-color: white;
  border-radius: 15%;
  height: 60px;
  width: 200px;
  margin-left: 30%;
  margin-top: 90%;
  cursor: pointer;
}


.setting-wrapper2 {
    background-color: white;
    border-radius: 15%;
    height: 60px;
    width: 200px;
    margin-left: 30%;
    margin-top: 90%;
    cursor: pointer;
    border: solid black;
    border-width: thin;
}

#entertext {
    color: black;
    text-align: center;

    font-size: 30px;
    font-family: 'Arial';
    font-weight: 100;
}
