.stereo_result{
     position: absolute;
     top:0;
     left:1vw;
     display: inline-block;
     height: 8vh;
     width: 20vh;
}

.stereo_visual {
     position: absolute;
     top: 0;
     /*right: 2vw;*/
     left: 10vw;
     display: inline;
     height: 8vh;
     width: 20vh;
}



/*.stereo_plus {*/
/*     right:-10vh;*/
/*     text-align: center;*/
/*     padding: 14px 40px;*/
/*     font-family: 'Arial'; font-size: 20px;*/
/*     border-radius: 15%;*/
/*     cursor: pointer;*/
/*     width: 10vw;*/
/*}*/