/* fonts come from google */

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap'); /* font-family: 'Orbitron', sans-serif; */

/* .canvas {
    @font-face {
        font-family: font-family: 'Fjalla One', sans-serif;
        src: local("Helvetica Neue Bold"),
            local("HelveticaNeue-Bold"),
            url(MgOpenModernaBold.ttf);
        font-weight: bold;
    }
} */