.swal2-container {
    z-index: 1300;
    /* width: 2500px !important; */
    /* max-width: 90% !important; */
  }
#fileNamesDiv p {
    white-space: nowrap;
  }

.tooltip {
  position: relative;
  display: inline-block;
}
  
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 100%; /* Position the tooltip above the text */
  left: 50%;
  margin-left: -60px; /* Center the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}
  
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
  