@media screen and (max-width: 1920px) and (max-height: 1080px) {
  .keytext {
      position: static;
      font-family: 'Arial';
      margin-top: 7%;
      font-size: 110%;
  /*    vertical-align: middle;*/
  /*    text-align: center;*/
      display: flex;
      flex-wrap: wrap;
  }

  .keybox {
      position: static;
      margin-top: 4%;
      margin-left: 10%;
      display: flex;
      flex-wrap: wrap;
  }

  #azure_key_value {
      font-family: 'Arial';
      width: 90%;
      font-size: 15px;
  }

  .azuremenutext {
      position: absolute;
      margin-top: -12%;
      font-size: 150%;
      display: flex;
      flex-wrap: wrap;
  }

  .divider {
      width: 100%;
      margin-top: 30%;
  }
}

@media screen and (max-width: 1680px) and (max-height: 1050px) {
  .keytext {
      position: static;
      font-family: 'Arial';
      margin-top: 7%;
      font-size: 110%;
  /*    vertical-align: middle;*/
  /*    text-align: center;*/
      display: flex;
      flex-wrap: wrap;
  }

  .keybox {
      position: static;
      margin-top: 5%;
      margin-left: 10%;
      display: flex;
      flex-wrap: wrap;
  }

  #azure_key_value {
      font-family: 'Arial';
      width: 90%;
      font-size: 15px;
  }

  .azuremenutext {
      position: absolute;
      margin-top: -12%;
      font-size: 150%;
      display: flex;
      flex-wrap: wrap;
  }

  .divider {
      width: 100%;
      margin-top: 33%;
  }
}

@media screen and (max-width: 1600px) and (max-height: 900px) {
  .keytext {
      position: static;
      font-family: 'Arial';
      margin-top: 5%;
      font-size: 110%;
  /*    vertical-align: middle;*/
  /*    text-align: center;*/
      display: flex;
      flex-wrap: wrap;
  }

  .keybox {
      position: static;
      margin-top: 4%;
      margin-left: 10%;
      display: flex;
      flex-wrap: wrap;
  }

  #azure_key_value {
      font-family: 'Arial';
      width: 90%;
      font-size: 15px;
  }

  .azuremenutext {
      position: absolute;
      margin-top: -12%;
      font-size: 150%;
      display: flex;
      flex-wrap: wrap;
  }

  .divider {
      width: 100%;
      margin-top: 34%;
  }
}

@media screen and (max-width: 1440px) and (max-height: 900px) {
  .keytext {
      position: static;
      font-family: 'Arial';
      margin-top: 6%;
      font-size: 110%;
  /*    vertical-align: middle;*/
  /*    text-align: center;*/
      display: flex;
      flex-wrap: wrap;
  }

  .keybox {
      position: static;
      margin-top: 4%;
      margin-left: 10%;
      display: flex;
      flex-wrap: wrap;
  }

  #azure_key_value {
      font-family: 'Arial';
      width: 90%;
      font-size: 15px;
  }

  .azuremenutext {
      position: absolute;
      margin-top: -12.7%;
      font-size: 150%;
      display: flex;
      flex-wrap: wrap;
  }

  .divider {
      width: 100%;
      margin-top: 34%;
  }
}

@media screen and (max-width: 1400px) and (max-height: 1050px) {
  .keytext {
      position: static;
      font-family: 'Arial';
      margin-top: 6%;
      font-size: 110%;
  /*    vertical-align: middle;*/
  /*    text-align: center;*/
      display: flex;
      flex-wrap: wrap;
  }

  .keybox {
      position: static;
      margin-top: 4%;
      margin-left: 10%;
      display: flex;
      flex-wrap: wrap;
  }

  #azure_key_value {
      font-family: 'Arial';
      width: 90%;
      font-size: 15px;
  }

  .azuremenutext {
      position: absolute;
      margin-top: -14%;
      font-size: 150%;
      display: flex;
      flex-wrap: wrap;
  }

  .divider {
      width: 100%;
      margin-top: 34%;
  }
}

@media screen and (max-width: 1366px) and (max-height: 768px) {
  .keytext {
      position: static;
      font-family: 'Arial';
      margin-top: 6%;
      font-size: 110%;
  /*    vertical-align: middle;*/
  /*    text-align: center;*/
      display: flex;
      flex-wrap: wrap;
  }

  .keybox {
      position: static;
      margin-top: 2%;
      margin-left: 10%;
      display: flex;
      flex-wrap: wrap;
  }

  #azure_key_value {
      font-family: 'Arial';
      width: 90%;
      font-size: 15px;
  }

  .azuremenutext {
      position: absolute;
      margin-top: -14%;
      font-size: 150%;
      display: flex;
      flex-wrap: wrap;
  }

  .divider {
      width: 100%;
      margin-top: 34%;
  }
}

@media screen and (max-width: 1280px) and (1020px) {
  .keytext {
      position: static;
      font-family: 'Arial';
      margin-top: 6%;
      font-size: 110%;
  /*    vertical-align: middle;*/
  /*    text-align: center;*/
      display: flex;
      flex-wrap: wrap;
  }

  .keybox {
      position: static;
      margin-top: 2%;
      margin-left: 10%;
      display: flex;
      flex-wrap: wrap;
  }

  #azure_key_value {
      font-family: 'Arial';
      width: 90%;
      font-size: 15px;
  }

  .azuremenutext {
      position: absolute;
      margin-top: -14%;
      font-size: 150%;
      display: flex;
      flex-wrap: wrap;
  }

  .divider {
      width: 100%;
      margin-top: 34%;
  }
}
