.Container {
     display: flex;
     height: 100%;
     width: 100%;
     font-size: 3vh;
}

#TheBox1 {
     flex: 1;
     overflow-y: auto;
     overflow-x: hidden;
     padding-left: 2rem;
}

.TheBox1::-webkit-scrollbar {
    display: none;
}

.TheBox2 {
     flex: 1;
     color: gray;
     line-height: 70vh;
     text-align: center;
     outline: .5vh solid gray;
     outline-offset: -1vh;
}

.GavinBelsonSignatureBox {
     display: inline-block;
}

.shown {
     visibility: visible;
     opacity: 1;
     transition: opacity 500ms ease;
}

.hidden {
     visibility: hidden;
     opacity: 0;
     transition: visibility 0s 500ms, opacity 500ms ease;
}
