
/* See flexbox */

.Container {

     display: flex;

     height: 10vh;

     width: 100vw;

     font-size: 3vh;

}





/* These classes create a nice fade effect for showing/hiding options. */

.shown {

     visibility: visible;

     opacity: 1;

     transition: opacity 500ms ease;

}

.hidden {

     visibility: hidden;

     opacity: 0;

     transition: visibility 0s 500ms, opacity 500ms ease;

}
