.plus-and-minus {
     position:relative;
     top:10;
     display: inline-block;
     height: 100px;
     width: 200px;
     left: 2vw;
}


.minus {
     width: 5vw;
}

.plus {
     width: 5vw
}
