.wordwrapper{
     display: flex;
     text-align: center;
     margin-right: 10px;
     margin-left: 10px;
     font-size: medium;
}

.itemwrapper{
     display: flex;
     margin-top: 10px;
     justify-content: space-between;
}

.buttonwrapper{
     display: flex;
     margin-left: 10px;
     margin-right: 10px;
}