.textsize-wrapper{
     position: relative;
     top: 1vh;
     left: 1vw;
     display: inline-flex;
}

.setting-wrapper {
     display: inline-block;


}


.minus {

     left:5vw;
}

.plus {
     left:5.5vw;
} 