/* The record and stop buttons are CSS shapes rather than images.
They fade much like the options menu does. */

.record-btn-wrapper {
     position: absolute;
     top: 0;
     right: 3vh;
     display: inline-block;
     height: 8vh;
     width: 8vh;
     transition: visibility 0s 300ms, opacity 5000ms ease;
}

.record-btn {
     position: absolute;
     background-color: red;
     height: 8vh;
     width: 8vh;
     cursor: pointer;
     border-radius: 50%;
     border: 0px;
}

.stop-btn {
     position: absolute;
     display: inline;
     height: 8vh;
     width: 8vh;
     cursor: pointer;
}
/* Inner black circle of stop button */
.stop-btn:before {
     position: absolute;
     display: inline;
     height: 7vh;
     width: 7vh;
     content: "";
     background-color: black;
     border-radius: 50%;
     border: 0.5vh solid white;
}
/* Inner white square of stop button */
.stop-btn:after {
     position: absolute;
     top: 2.5vh;
     left: 2.5vh;
     display: inline;
     height: 3vh;
     width: 3vh;
     content: "";
     background-color: white;
}
