.setting-wrapper {
     position: absolute;
     top: 0;
     right: 0;
     display: inline-block;
     height: 8vh;
     width: 12vw;
}



@media screen and (orientation:landscape) {
  .setting {
       position: absolute;
       right: 5vw;
       display: inline;
       width: 5vw;
       height: 8vh;
       text-align: center;
       line-height: 8vh;
  }

  button {
      position: absolute;
      color: white;
      top: 0;
      font-family: 'Arial'; font-size: 2.5vw;
      text-align: center;
      vertical-align: middle;
      position: absolute;
      height: 8vh;
      width: 5vw;
      border: solid white;
      border-radius: 15%;
      background: #000000;
      background: -moz-linear-gradient(left, #000000 0%, #0B0B0B 55%, #181818 100%);
      background: -webkit-linear-gradient(left, #000000 0%, #0B0B0B 55%, #181818 100%);
      background: linear-gradient(to right, #000000 0%, #0B0B0B 55%, #181818 100%);
      cursor: pointer;
   }
   button:hover {
     border-color: #33FF33;
   }
   button:active {
     border-color: black;
   }
   .minus {
        right: 10vw;
   }

   .plus {
        right: 0;
   }

}
@media screen and (orientation:portrait) {
  .setting {
       position: absolute;
       right: 13vw;
       display: inline;
       width: 5vw;
       height: 8vh;
       text-align: center;
       line-height: 8vh;
  }
  button {
      position: absolute;
      height: 8vh;
      width: 10vw;
      color: white;
      top: 0;
      font-family: 'Arial'; font-size: 2.5vh;
      text-align: center;
      vertical-align: middle;
      position: absolute;
      border: solid white;
      border-radius: 15%;
      background: #000000;
      background: -moz-linear-gradient(left, #000000 0%, #0B0B0B 55%, #181818 100%);
      background: -webkit-linear-gradient(left, #000000 0%, #0B0B0B 55%, #181818 100%);
      background: linear-gradient(to right, #000000 0%, #0B0B0B 55%, #181818 100%);
      cursor: pointer;
   }
   button:active {
     border-color: #33FF33;
   }
   .minus {
        right: 19vw;
   }

   .plus {
        left: 1vw;
   }
}
