.audio_visual {
     position: relative;
     display: inline-block;
     height: 0vh;
     width: 40vh;
}



.audio_plus {
     left: 9vw;
     text-align: center;
     padding: 24px 40px;
     font-family: 'Arial'; font-size: 20px;
     border-radius: 15%;
     cursor: pointer;
     width: 6vw;
     height: 6vh;
}
