.App {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
     height: 100%;
}

body {
     padding: 0;
     margin: 0;
     background-color: black;
     color: white;
}

/* .Bottom {
     overflow: auto;
     height: 30vh;
     position: relative;
     width: 100%;
     backface-visibility: hidden;
     will-change: overflow;
     -webkit-overflow-scrolling: touch;
     -ms-overflow-style: none;
}

.Bottom::-webkit-scrollbar {
    display: none;
}
*/
