@media screen and (orientation:landscape) {
  .AzureCaptions {
      overflow: auto;
      height: 36vh;
      position: relative;
      width: 15%;
      backface-visibility: hidden;
      will-change: overflow;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: none;
   }
}
.Captions::-webkit-scrollbar {
    display: none;
}
@media screen and (orientation:portrait) {
  .AzureCaptions {
      overflow: auto;
      height: 36vh;
      position: relative;
      width: 45vw;
      backface-visibility: hidden;
      will-change: overflow;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: none;
   }
}
.tutorial{
  margin:0;
}
.safeArea{

}
.captionsSpace::-webkit-scrollbar {
  display: none;
}
.scroll {
  position: relative;
  left: 95vw;
  top: 50vh;
}

.scroll-hidden {
  visibility: hidden;
}
.tutorial{
  margin:0;
}

.scroll {
  position: relative;
  transform: scale(1.2) rotate(90deg);
  left: 90vw;
  top: 40vh
}

.captionsSpace::-webkit-scrollbar {
  display: none;
}
.circle-icon {
  position: relative;
  background: #0d47a1;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
}
.fa-angle-double-down {
  position: relative;
  left: 90vw;
  top: 40vh
}
