.item-wrapper {
     padding-top: 2vh;
}

button {
     background-color: white;
     height: 8vh;
     width: 6vw;
}

p {
     text-align: left;
}

h1 {
     padding-top: 2vh;
     padding-bottom: 1vh;
     font-size: 7vh;
}
