.item-wrapper {
     position: relative;
     height: 10vh;
     padding: 0;
     margin-left: 5px;

}
.instruction{
     margin-top: 1.5vh;
}
/* Button styling from https://fdossena.com/?p=html5cool/buttons/i.frag */
.mybutton{
     display:inline-block;
     width: 14vw;
     padding:0.3vh 1.2vh;
     margin:0 0.1em 0.1em 0;
     border:0.16em solid rgba(255,255,255,0);
     border-radius:1vh;
     box-sizing: border-box;
     text-decoration:none;
     color:black;
     text-align:center;
}

@media all and (max-width:30em){
     .mybutton{
          display:block;
          margin:0.2em auto;
     }
}


p {
     text-align: left;
}

h2 {
     margin: 10px;
     padding-top: 2vh;
     padding-bottom: 1vh;
     font-size: 5vh;
}

h3{
     fontFamily:"Arial";
     margin: 1vh;
     padding-top: 2vh;
     padding-bottom: 1vh;
     font-size: 2vh;

}

.inLine{
     display: inline;
}